# ===== Python / venv =====
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===== Data layers (do NOT commit) =====
data-raw/
data-bronze/
data-silver/
data-gold/

# ===== Airflow runtime =====
airflow/logs/
airflow/plugins/__pycache__/

# ===== Generated HTML report artifacts (do NOT commit) =====
reports/out/
reports/**/assets/
reports/**/*.png
reports/**/*.jpg
reports/**/*.jpeg

# ===== OS =====
.DS_Store
Thumbs.db
